<div class="jumbotron">
  <h1>Signup</h1>
  
</div>
 
<div class="">
  <div class="form-group">
    <label for="no">No : </label>
    <input type="text" class="form-control" ng-model="no" id="no">
  </div>
  <div class="form-group">
    <label for="name">Name : </label>
    <input type="text" class="form-control" ng-model="name" id="name">
  </div>
  <div class="form-group">
    <label for="description">Description : </label>
    <input type="text" class="form-control" ng-model="description" id="description">
  </div>
  <div class="form-group">
    <label for="base_type">base_type : </label>
    <input type="text" class="form-control" ng-model="base_type" id="base_type">
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-primary"  ng-click="saveUserInfo()"></button> 
  </div>
</div>